<h2>Tasks</h2>
<div>
  <input #title type="text" />
  <button (click)="this.tasks.add(title.value); title.value='';">+</button>
</div>
<ul>
  <li *ngFor="let task of this.tasks.getList(), index as i">
    {{task.title}}
    <span (click)="this.tasks.remove(i)" style="cursor: pointer">
      -
    </span>
  </li>
</ul>
